<template>
  <div id="modals">
    <transition name="fade">
      <div class="bg" @click="modalEdit = !modalEdit" v-if="modalEdit"></div>
    </transition>

    <transition name="pop">
      <div class="modal-edit modal" v-if="modalEdit">
        <div class="close" @click="modalEdit = !modalEdit">X</div>
        <h2>Change User</h2>
        <input
          type="text"
          :class="isActive ? 'active' : ''"
          placeholder="Name"
          v-model="nameInInput"
        />
        <input
          type="text"
          :class="isActive ? 'active' : ''"
          placeholder="Phone"
          v-model="phoneInInput"
        />
        <input
          type="text"
          :class="isActive ? 'active' : ''"
          placeholder="Website"
          v-model="websiteInInput"
        />
        <input
          type="text"
          :class="isActive ? 'active' : ''"
          placeholder="Street"
          v-model="streetInInput"
        />
        <div class="editName">
          <button @click="updateUser">Save</button>
          <button @click="modalEdit = !modalEdit">GO Back</button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      modalEdit: false,
      nameInInput: "",
      phoneInInput: "",
      websiteInInput: "",
      streetInInput: "",
      isActive: false,
      obj: {},
    };
  },

  methods: {
    updateUser: function () {
      if (
        this.nameInInput == "" ||
        this.phoneInInput == "" ||
        this.streetInInput == "" ||
        this.websiteInInput == ""
      ) {
        alert("По братски заполни все поля"), (this.isActive = !this.isActive);
        this.isActive = !this.isActive;
      } else {
        alert("Молодец!");
        this.obj.name = this.nameInInput;
        this.obj.phone = this.phoneInInput;
        this.obj.address.street = this.streetInInput;
        this.obj.website = this.websiteInInput;

        this.modalEdit = !this.modalEdit;
        //Информация о пользователе
        for (let item in this.obj) {
          console.log(item + ":" + this.obj[item]);
        }
      }
    },
  },
  mounted() {
    this.$root.$on("showEditModal", (user) => {
      this.modalEdit = !this.modalEdit;
      this.nameInInput = user.name;
      this.phoneInInput = user.phone;
      this.websiteInInput = user.website;
      this.streetInInput = user.address.street;
      this.obj = user;
    });
  },
};
</script>

<style>
.active {
  border: 2px solid red;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  z-index: 10;
}
.modal input::placeholder {
  color: #000000;
}
.modal input {
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
  height: 40px;
}

.editName button {
  width: 45%;
}

.editName {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}

.modal {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  width: fit-content;
  height: fit-content;
  max-width: 22em;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 999;
  transform: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.pop-enter-active,
.pop-leave-active {
  transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
}

.pop-enter,
.pop-leave-to {
  opacity: 0;
  transform: scale(0.3) translateY(-50%);
}

.modal .close {
  position: absolute;
  right: 24px;
  top: 24px;
}
.modal h2 {
  margin-top: 0;
}
</style>