<template>
  <div id="addNewUser">
    <transition name="fade">
      <div class="bg" v-if="switchModal"></div>
    </transition>

    <transition name="fade">
      <div class="modal-edit modal" v-if="switchModal">
        <div class="close" @click="switchModal = false">X</div>
        <h2>Add New User</h2>
        <div class="addNewUser">
          <input
            type="text"
            :class="isActive ? 'active' : ''"
            placeholder="Name"
            v-model="nameInInput"
          />
          <input
            type="text"
            :class="isActive ? 'active' : ''"
            placeholder="Usarname"
            v-model="usernameInInput"
          />
          <input
            type="text"
            :class="isActive ? 'active' : ''"
            placeholder="Phone"
            v-model="phoneInInput"
          />
          <input
            type="text"
            :class="isActive ? 'active' : ''"
            placeholder="Website"
            v-model="websiteInInput"
          />
          <input
            type="text"
            :class="isActive ? 'active' : ''"
            placeholder="Street"
            v-model="streetInInput"
          />
        </div>
        <div class="editName">
          <button @click="createNewUser()">Save</button>
          <button @click="switchModal = false">GO Back</button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "newUser",
  data() {
    return {
      isActive: false,
      usernameInInput: "",
      nameInInput: "",
      phoneInInput: "",
      websiteInInput: "",
      streetInInput: "",
      newUser: {
        name: "",
        username: "",
        address: {
          street: "",
        },
        phone: "",
        website: "",
      },
      switchModal: false,
    };
  },
  methods: {
    createNewUser: function () {
      if (
        this.usernameInInput == "" ||
        this.nameInInput == "" ||
        this.phoneInInput == "" ||
        this.websiteInInput == "" ||
        this.streetInInput == ""
      )alert("По братски заполни все поля"), (this.isActive = !this.isActive);
      
      else {
        alert("Молодец!");
        console.clear()
        this.newUser.name = this.nameInInput;
        this.newUser.phone = this.phoneInInput;
        this.newUser.website = this.websiteInInput;
        this.newUser.address.street = this.streetInInput;
        this.newUser.username = this.usernameInInput;

        this.switchModal = false;

        this.nameInInput = "";
        this.phoneInInput = "";
        this.websiteInInput = "";
        this.streetInInput = "";

        this.$root.$emit("newUserSend", this.newUser);
      }
    },
  },
  mounted() {
    this.$root.$on("showNewModal", (boolen) => {
      this.switchModal = boolen;
    });
  },
};
</script>

<style>
</style>