<template>
  <div class="div">
    <!-- <form> -->
    <input
      type="text"
      @keyup="namePerson()"
      placeholder="Name"
      v-model="inputValue"
    />
    <button @click="clearFunction">Clear</button>
    <!-- </form> -->
  </div>
</template>

<script>
export default {
  name: "SerachUser",
  data() {
    return {
      inputValue: "",
    };
  },
  methods: {
    clearFunction: function () {
      this.inputValue = "";
      this.$emit("namePerson", this.inputValue);
    },
    namePerson: function () {
      this.$emit("namePerson", this.inputValue);
    },
  },
};
</script>

<style>
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 25px;
  padding: 0 200px;
  text-align: left;
}
.item {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 20px;
  align-items: left;
  background: #f0f0f0;
  border: 1px solid #007fff;
  box-sizing: border-box;
  border-radius: 10px;
}

.btn:nth-child(2) {
  margin-left: 10px;
}

.btn:hover {
  cursor: pointer;
}

.div{
  height: 45px;
  margin-top: 10px;
}

input::placeholder {
  color: black;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

input {
  padding-left: 10px;
  margin-right: 15px;
  border: 2px solid #007fff;
  box-sizing: border-box;
  border-radius: 10px;
  height: 100%;
}

button {
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  background: #0071e3;
  color: #fff;
}

.btn {
  margin: 10px 0px 0px 0px;
}
.text {
  font-size: 20px;
}
</style>
